---
// Component Imports
import Footer from '../components/Footer';
import Hero from '../components/Hero.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav';
import Card from '../components/Card.astro';

const novels = [
	{
		title: 'Bleak House',
		description: 'Bleak House is a novel by Charles Dickens. It was first published in 1853.',
		href: '/notes/david-copperfield',
		img: 'https://static.wixstatic.com/media/f5aeee_b118ae7e6ea344f2aeaeb4139b477eca~mv2.png/v1/fill/w_772,h_600,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/f4FE0G5c.png',
		alt: 'Bleak House',
	},
	{
		title: 'David Copperfield',
		description: 'David Copperfield is a novel by Charles Dickens. It was first published in 1850.',
		href: '/notes/david-copperfield',
		img: 'https://static.wixstatic.com/media/f5aeee_b118ae7e6ea344f2aeaeb4139b477eca~mv2.png/v1/fill/w_772,h_600,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/f4FE0G5c.png',
		alt: 'David Copperfield',
	},
]
---

<html lang="en">

<head>
	<MainHead title="Digital Dickens Notes Project" description="The Digital Dickens Notes Project is an exploration of Dickens's working notes" />
</head>

<body class="container mx-auto">
	<Nav client:only="react" />
	<Hero />
	<section class="mt-12 mx-6 flex flex-wrap justify-between gap-4">
		{novels.map((novel, index) => (
		<Card key={index} title={novel.title} description={novel.description} href={novel.href} img={novel.img} alt={novel.alt} />
		))}
	</section>
	<Footer />
</body>

</html>