---
// Component Imports
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import MainHead from "../components/MainHead.astro";

const novels = [
  {
    title: "Bleak House (1852-53)",
    description:
      "Access transcriptions of the Working Notes, editorial annotations, and a critical introduction.",
    href: "/notes/bleak-house",
    img: "/images/home/bleak-house-wn-15-card.webp",
    alt: "Bleak House Working Notes",
  },
  {
    title: "David Copperfield (1849-50)",
    description: "Access transcriptions of the Working Notes.",
    href: "/notes/david-copperfield",
    img: "/images/home/david-copperfield-wn-7-card.webp",
    alt: "David Copperfield Working Notes",
  },
];
---

<html lang="en">
  <head>
    <MainHead
      title="Digital Dickens Notes Project"
      description="The Digital Dickens Notes Project explores serial form with Charles Dickens's Working Notes"
    />
  </head>

  <body class="container mx-auto">
    <Header />
    <Hero />
    <section class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4 space-between">
      {
        novels.map((novel, index) => (
          <Card
            key={index}
            title={novel.title}
            description={novel.description}
            href={novel.href}
            img={novel.img}
            alt={novel.alt}
          />
        ))
      }
    </section>
    <Footer />
  </body>
</html>
