---
const { title, description, href, img, alt } = Astro.props;
---

<!-- TODO: italicize title, but not date --><!-- Depending on real content, we may need to set item alignment to center -->
<a
  href={href}
  class="flex flex-col bg-ddnpgreen rounded-sm border shadow-md hover:bg-ddnpgreen/75 w-full"
>
  <img class="object-cover w-full h-auto lg:w-full" src={img} alt={alt} />
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      {title}
    </h2>
    <p class="mb-3 font-normal text-gray-700">{description}</p>
  </div>
</a>
